* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-image: url("../assets/mountains-universe-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
body {
  color: white;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  padding: 0 2rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  height: 122px;
}
nav ul a {
  text-decoration: none;
  color: white;
}
#app {
  padding: 0 3rem;

  height: calc(100vh - 122px);
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: calc(100vh - 122px);
}

.home h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.home button {
  color: #ffffff;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 8px;
  width: 195px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.home button a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 12px 32px;
  text-decoration: none;
  color: #fff;
  transition: all 500ms;
}
.home button a:hover {
  color: #02799d;
  background-color: #fff;
}
.artigo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artigo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 1.2rem;
}
.artigo .content {
  width: 648px;
  height: 203px;
  left: calc(50% - 648px / 2 - 214px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: justify;
  color: #e1e1e6;
}
